* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: rgb(14, 0, 36);
    background: linear-gradient(90deg, rgba(14, 0, 36, 1) 0%, rgba(61, 9, 121, 1) 34%, rgba(87, 54, 170, 1) 59%, rgba(136, 0, 255, 1) 100%);
    ;
    background-image: url(/fimage.jpg);
    background-size: 1500px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;


}

h1 {
    padding: 50px;
    font-size: 50px;
    background: linear-gradient(purple, black);
    -webkit-background-clip: text;
    color: transparent;
    
    font-family: 'Anton', sans-serif;
    position: absolute;
    top: 50px;
    left: 750px;
}

p {
    text-align: justify;
    font-size: 20px;
    font-family: 'Mukta', sans-serif;
    position: absolute;
    top: 200px;

    left: 500px;

    right: 200px;
}

h3 {
    font-size: 20px;
    color: aliceblue;
    font-family: 'Nunito', sans-serif;
    position: absolute;
    top: 450px;
    left: 750px;
}

#p2 {
    text-align: justify;
    font-size: 20px;
    font-family: 'Mukta', sans-serif;
    position: absolute;
    left: 500px;
    top: 500px;
    right: 200px;
}

video {
    width: 600px;
    height: 300px;
    position: absolute;
    top: 1400px;
    left: 530px;
}

table {

    border: 50px;

    border-right-color: black;


}

img {
    width: 130px;
    height: 200px;
}

td {
    font-size: 25px;
    text-align: center;
    font-family: 'Mukta', sans-serif;
}

div {
    position: relative;
    top: 200px;
    right: 490px;
}

#miembros {
    font-size: 40px;
    color: rgb(8, 6, 22);
}